body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    border-radius: 50%;
    animation: rotateCircle 2s linear infinite;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}